bottle==0.12.9
docopt==0.6.2
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mongoengine==0.10.5
numpy==1.10.2
pymongo==3.2
regex==2015.11.22
rpy2==2.7.5
singledispatch==3.4.0.3
six==1.10.0
Unidecode==0.4.18
Werkzeug==0.11.2
wheel==0.24.0
