<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>

	<div>
Definición:<br>
HTTP Method 	URI 	Action<br>
GET 	[host]/priceprofor/rest/help 	get help page to use the service<br>
GET 	[host]/priceprofor/rest/main 	return the main info as json<br>
<br>
Descripción:<br>
    [host]/priceprofor/rest/help: Devuelve una pagina html con información util el uri de priceprofor/rest.<br>
    [host]/priceprofor/rest/main: Devuelve un json con la información necesária para hacer los calculos. Ejemplo de respuesta:<br>
<br>
{"2014-07-08": ... ,<br>
 "2014-07-07": {"mercado": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],<br>
                "horamax": {"hora": [15,17] , "precio": 20.0},<br>
                "horamin": {"hora": [3,6],  "precio": 10.0}},<br>
 "2014-07-09": ... ,}<br>
<br>

Notación:<br>
Las horas del dia van de 0 a 23
<br>
	</div>

    </body>

</html>
