<!DOCTYPE html>
<html>
    <head>
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PRICE PROFOR</title>
        <link rel="stylesheet" href="/css/uikit.css" />
        <link href="/css/nv.d3.css" rel="stylesheet" type="text/css" />
        <link href="/css/priceprofor.css" rel="stylesheet" type="text/css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/uikit.js"></script>
        <script src="/d3/d3.v3.js"></script>
        <script src="/d3/nv.d3.js"></script>
    </head>
    <body>
        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="layouts_frontpage.html">priceprofor</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li>
                        <a href="">Precios del Mercado Diario</a>
                    </li>
                    <li>
                        <a href="">Resultados del Mercado Diario</a>
                    </li>
                    <li>
                        <a href="">Previsión de Precio</a>
                    </li>
                    <li>
                        <a href="">Ayuda y FAQ</a>
                    </li>
                    <li>
                        <a href="">Login</a>
                    </li>
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
            </nav>
            <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li>
                        <a href="">Precios del Mercado Diario</a>
                    </li>
                    <li>
                        <a href="">Resultados del Mercado Diario</a>
                    </li>
                    <li>
                        <a href="">Previsión de Precio</a>
                    </li>
                    <li>
                        <a href="">Ayuda y FAQ</a>
                    </li>
                    <li>
                        <a href="">Login</a>
                    </li>
                </ul>
            </div>
        </div>
            <h1>Resultados del Mercado Diario de Electricidad</h1>
            <div id="chart"></div>
        </div>
    </body>
    <script type="text/javascript">
      var margin = { top: 50, right: 0, bottom: 25, left: 75 },
          width = 960 - margin.left - margin.right,
          height = 2000 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 24),
          legendElementWidth = gridSize*2,
          buckets = 8,
          colors = ["#22FF00","#FFEE00","#FF0000"], // alternatively colorbrewer.YlGnBu[9]
          // colors = ["#109618","#ff9900","#dc3912"]
          times = ["0-1", "1-2", "2-3", "3-4", "4-5", "5-6", "6-7", "7-8", "8-9", "9-10", "10-11", "11-12", "12-13", "13-14", "14-15", "15-16", "16-17", "17-18", "18-19", "19-20", "20-21", "21-22", "22-23", "23-24"];

      var data = {{! data }};
      var days = {{! days}};
      var colorScale = d3.scale.quantile()
          .domain([50, buckets - 1, d3.max(data, function (d) { return d.value; })])
          .range(colors);

      // var div = d3.select("#chart").append("div")   
      //     .attr("class", "tooltip")               
      //     .style("opacity", 0);

      var svg = d3.select("#chart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var dayLabels = svg.selectAll(".dayLabel")
          .data(days)
          .enter().append("text")
            .text(function (d) { return d; })
            .attr("x", 0)
            .attr("y", function (d, i) { return i * gridSize; })
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
            .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis"); });

      var timeLabels = svg.selectAll(".timeLabel")
          .data(times)
          .enter().append("text")
            .text(function(d) { return d; })
            .attr("x", function(d, i) { return i * gridSize; })
            .attr("y", 0)
            .style("text-anchor", "middle")
            .attr("transform", "translate(" + gridSize / 2 + ", -6)")
            .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });

      var heatMap = svg.selectAll(".hour")
          .data(data)
          .enter()
          .append("rect")
          .on("click", function(d) {
          //Do something on click
          ModalTecnologias(d.day);
          })
          .attr("x", function(d) { return (d.hour - 1) * gridSize; })
          .attr("y", function(d) { return (d.day - 1) * gridSize; })
          .attr("rx", 4)
          .attr("ry", 4)
          .attr("class", "hour bordered")
          .attr("width", gridSize)
          .attr("height", gridSize)
          .style("fill", colors[0])



      heatMap.transition().duration(1000)
          .style("fill", function(d) { return colorScale(d.value); });

      heatMap.append("title").text(function(d) { return d.value; });

      // heatMap.append("title").append("button").attr("href","/verver");
      // var div = d3.select("body").append("div")   
      //   .attr("class", "tooltip")               
      //   .style("opacity", 0);
      //text(function(d) { return "<div class='candtip'>" + d.value + "<br /><a href='Twitter.com/"+"'><img src='Twitter.png'/></a></div>"});
      //heatMap.append("title").attr("title", function(d){ return "<div class='candtip'>" + d.value + "<br /><a href='Twitter.com/"+"'><img src='Twitter.png'/></a></div>"})
          
      var legend = svg.selectAll(".legend")
          .data([0].concat(colorScale.quantiles()), function(d) { return d; })
          .enter().append("g")
          .attr("class", "legend");

      legend.append("rect")
        .attr("x", function(d, i) { return legendElementWidth * i; })
        //.attr("y", height)
        .attr("y", -45)
        .attr("width", legendElementWidth)
        .attr("height", gridSize / 3)
        .style("fill", function(d, i) { return colors[i]; });

      legend.append("text")
        .attr("class", "mono")
        .text(function(d) { return "≥ " + Math.round(d); })
        .attr("x", function(d, i) { return legendElementWidth * i; })
        //.attr("y", height + gridSize);
        .attr("y", -35);
    </script>
</html>