<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Price Profor Engine: ReportDayTech</title>
    <link id="data-uikit-theme" rel="stylesheet" href="/vendor/uikit/css/uikit.css">
    <link id="data-uikit-theme" rel="stylesheet" href="/vendor/uikit/css/uikit.almost-flat.css">
    <link id="data-uikit-theme" rel="stylesheet" href="/vendor/uikit/css/components/datepicker.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/components/grid.js"></script>
    <script src="/vendor/uikit/js/components/datepicker.js"></script>
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <style type="text/css">${demo.css}</style>
    <link rel="stylesheet" type="text/css" href="../app_menu/fonts/font-awesome-4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../app_menu/css/menu_topexpand.css">
  </head>
  <body ng-app="ReportDayTech">
    <div class="menu-wrap">
      <nav class="menu">
	<div class="icon-list">
	        <a href="http://priceprofor-nfqsolutions.rhcloud.com/index.html"></i><span>Home</span></a>
	        <a href="http://shinyrcharts-ekergydavid.rhcloud.com/samples/electric_market_analysis_exploratory/"></i><span>AnalysisExploratory</span></a>
	        <a href="https://priceprofor.shinyapps.io/electric_market_basic_statistics/"></i><span>BasicStatistics</span></a>
	        <a href="http://shinyrcharts-ekergydavid.rhcloud.com/samples/electric_market_correlations_technologies_vs_price/"></i><span>Correlations</span></a>
	        <a href="http://priceprofor-nfqsolutions.rhcloud.com/omieinfosysSPA/Status.html"></i><span>Status</span></a>
	        <a href="http://priceprofor-nfqsolutions.rhcloud.com/omieinfosysSPA/ReportDayTech.html"></i><span>ReportDayTech</span></a>
	        <a href="http://priceprofor-nfqsolutions.rhcloud.com/omieinfosysSPA/DataFileGenerator.html"></i><span>DataFile</span></a>
	        <a href="http://priceprofor-nfqsolutions.rhcloud.com/omieinfosysSPA/ReportDay.html"></i><span>ReportDay</span></a>
	        <a href="http://priceprofor-nfqsolutions.rhcloud.com/modellingsysSPA/Forecasts.html"></i><span>Forecasts</span></a>
      	</div>
      </nav>
    </div>
    <button class="menu-button" id="open-button">Open Menu</button>
    <div class="content-wrap-menu">
      <div class="uk-container uk-container-center" ng-controller="PlotInfo">
      <p><img src="https://ga-beacon.appspot.com/UA-56011126-3/PriceProfor/ReportDayTech?pixel"></p>
      <!-- <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> -->
      <!-- <div id="container" style=""></div> -->
      <form class="uk-form">
	<div class="uk-grid" align="center">
	  <div class="uk-width-1-1">
	    <legend>Resultados del Mercado Diario de Electricidad</legend>
	  </div>
	  <div class="uk-width-1-5">
	    <input class="uk-margin-bottom uk-width-1-1" type="text" ng-model="Fecha" data-uk-datepicker="{format:'YYYY-MM-DD'}">    
	  </div>
	  <div class="uk-width-2-5">
	    <select ng-model="Mercado" class="uk-margin-bottom uk-width-1-1">
	      <option value="MI">MIBEL</option>
	      <option value="ES">Componente Española</option>
	      <option value="PT">Componente Portuguesa</option>
	    </select>
	  </div>
	  <div class="uk-width-2-5">
	    <input class="uk-button uk-margin-bottom uk-width-1-1 uk-button-success" type="button" ng-click="generateplot()" value="Ver Resultados"/>
	  </div>
	</div>
      </form>
      <div class="uk-width-1-1">
	<div class="uk-panel uk-panel-box">
	  <div id="tecnologias" ></div>
	</div>
      </div>
      <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-4" data-uk-grid="">
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{PrecioMedio}}</strong> €/MWh</h3>
	  Precio Medio del MWh
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{MediaAritmetica}}</strong> €/MWh</h3>
	  Media Aritmetica
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{TotalVolumenMWh | number:2}}</strong> MWh</h3>
	  Total de MWh negociados
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{TotalVolumenEUR | number:2}}</strong> €</h3>
	  Valor en euros del mercado
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{HIDRAULICA_CONVENCIONAL.PrecioMedio | number:2}}</strong> €/MWh</h3>
	  Precio Medio del MWh de HIDRAULICA_CONVENCIONAL
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{HIDRAULICA_BOMBEO_PURO.PrecioMedio | number:2}}</strong> €/MWh</h3>
	  Precio Medio del MWh de HIDRAULICA_BOMBEO_PURO
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{NUCLEAR.PrecioMedio | number:2}}</strong> €/MWh</h3>
	  Precio Medio del MWh de NUCLEAR
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{CARBON_NACIONAL.PrecioMedio | number:2}}</strong> €/MWh</h3>
	  Precio Medio del MWh de CARBON_NACIONAL
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{CARBON_IMPORTACION.PrecioMedio | number:2}}</strong> €/MWh</h3>
	  Precio Medio del MWh de CARBON_IMPORTACION
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{CICLO_COMBINADO.PrecioMedio | number:2}}</strong> €/MWh</h3>
	  Precio Medio del MWh de CICLO_COMBINADO
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{REGIMEN_ESPECIAL_A_MERCADO.PrecioMedio | number:2}}</strong> €/MWh</h3>
	  Precio Medio del MWh de REGIMEN_ESPECIAL_A_MERCADO
	</div>
	<div class="uk-panel uk-panel-box" style="text-align: center;">
	  <h3 class="uk-panel-title"><strong>{{TOTAL_REGIMEN_ORDINARIO_CON_PRIMA.PrecioMedio | number:2}}</strong> €/MWh</h3>
	  Precio Medio del MWh de TOTAL_REGIMEN_ORDINARIO_CON_PRIMA
	</div>
      </div>
    </div>
  </div>
  <script src="/vendor/highcharts/js/highcharts.js"></script>
  <script src="/vendor/highcharts/js/modules/exporting.js"></script>
  <script type="text/javascript">
    var app = angular.module('ReportDayTech', []);
      // DataFileGenerator FormController!
      app.controller('PlotInfo',
	function ($scope, $http) {
	  $scope.generateplot = function() {
	    $scope.datafile = {"day":"lastavailable","market":"ES"};
	    if($scope.Fecha){
	      $scope.datafile.day = $scope.Fecha;
	    };
	    if($scope.Mercado){
	      $scope.datafile.market = $scope.Mercado;
	    };
	    $http.post('/omieinfosys/ReportDayTech', $scope.datafile,
	      {
		headers: {'Accept': "application/json;charset=UTF-8"}
	      }
	    ).
	    success(function(data, status, headers, config) {
	      $scope.Fecha = data['Fecha'].substring(0, 10);
	      $scope.Mercado = data['Mercado'];
	      $scope.Precios = data['Precios'];
	      $scope.PrecioMedio = data['PrecioMedio'];
	      $scope.MediaAritmetica = data['MediaAritmetica'];
	      $scope.VolumenMWh = data['VolumenMWh'];
	      $scope.VolumenEUR = data['VolumenesEUR'];
	      $scope.TotalVolumenMWh = data['TotalVolumenMWh'];
	      $scope.TotalVolumenEUR = data['TotalVolumenEUR'];
	      $scope.HIDRAULICA_CONVENCIONAL = data['HIDRAULICA_CONVENCIONAL'];
	      $scope.HIDRAULICA_BOMBEO_PURO = data['HIDRAULICA_BOMBEO_PURO'];
	      $scope.NUCLEAR = data['NUCLEAR'];
	      $scope.CARBON_NACIONAL = data['CARBON_NACIONAL'];
	      $scope.CARBON_IMPORTACION = data['CARBON_IMPORTACION'];
	      $scope.CICLO_COMBINADO = data['CICLO_COMBINADO'];
	      $scope.REGIMEN_ESPECIAL_A_MERCADO = data['REGIMEN_ESPECIAL_A_MERCADO'];
	      $scope.TOTAL_REGIMEN_ORDINARIO_CON_PRIMA = data['TOTAL_REGIMEN_ORDINARIO_CON_PRIMA'];
	      $scope.PrecioMedioHIDRAULICA_CONVENCIONAL = data['PrecioMedioHIDRAULICA_CONVENCIONAL'];
	      $scope.PrecioMedioHIDRAULICA_BOMBEO_PURO = data['PrecioMedioHIDRAULICA_BOMBEO_PURO'];
	      $scope.VolumenesHIDRAULICA_CONVENCIONAL = data['VolumenesHIDRAULICA_CONVENCIONAL'];
	      $scope.VolumenesHIDRAULICA_BOMBEO_PURO = data['VolumenesHIDRAULICA_BOMBEO_PURO'];
	      $scope.VolumenesNUCLEAR = data['VolumenesNUCLEAR'];
	      $scope.VolumenesCARBON_NACIONAL = data['VolumenesCARBON_NACIONAL'];
	      $scope.VolumenesCARBON_IMPORTACION = data['VolumenesCARBON_IMPORTACION'];
	      $scope.VolumenesCICLO_COMBINADO = data['VolumenesCICLO_COMBINADO'];
	      if (!$scope.TOTAL_REGIMEN_ORDINARIO_CON_PRIMA) 
	      	{$scope.TOTAL_REGIMEN_ORDINARIO_CON_PRIMA = {'Volumen': [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]};
	      	};
	      $(function () {
		$('#tecnologias').highcharts({
		  chart: {
		    zoomType: 'xy',
		    backgroundColor:'rgba(255, 255, 255, 0.1)'
		  },
		  title: {
		    text: 'Resultados del Mercado Diario de Electricidad: '+$scope.Mercado
		  },
		  subtitle: {
		    text: 'Fecha: ' + $scope.Fecha + ' Fuente: OMIE'
		  },
		  xAxis: [{
		    categories: ['1', '2', '3', '4', '5', '6',
				'7', '8', '9', '10', '11', '12',
				'13', '14', '15', '16', '17', '18',
				'19', '20', '21', '22', '23', '24']
		  }],
		  yAxis: [{ // Primary yAxis
		    labels: {
		      format: '{value} MWh',
		      style: {
			color: Highcharts.getOptions().colors[0]
		      }
		    },
		    title: {
		      text: 'Volumen del Mercado',
		      style: {
			color: Highcharts.getOptions().colors[0]
		      }
		    }
		  },
		  { // Secondary yAxis
		    title: {
		      text: 'Precio del MWh',
		      style: {
			color: Highcharts.getOptions().colors[1]
		      }
		    },
		    labels: {
		      format: '{value} €/MWh',
		      style: {
			color: Highcharts.getOptions().colors[1]
		      }
		    },
		    opposite: true
		  }],
		  tooltip: {
		    shared: true,
		  },
		  legend: {
		    // layout: 'vertical',
		    // align: 'left',
		    // x: 200,
		    // verticalAlign: 'top',
		    // y: 100,
		    // floating: true,
		    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
		  },
		  plotOptions: {
		    column: {
		      stacking: 'normal'
		    }
		  },
		  series: [{
		    name: 'HIDRAULICA_CONVENCIONAL',
		    type: 'column',
		    data: $scope.HIDRAULICA_CONVENCIONAL.Volumen,
		    tooltip: {
		      valueSuffix: ' MWh'
		    }
		  },
		  {
		    name: 'HIDRAULICA_BOMBEO_PURO',
		    type: 'column',
		    data: $scope.HIDRAULICA_BOMBEO_PURO.Volumen,
		    tooltip: {
		      valueSuffix: ' MWh'
		    }
		  },
		  {
		    name: 'NUCLEAR',
		    type: 'column',
		    data: $scope.NUCLEAR.Volumen,
		    tooltip: {
		      valueSuffix: ' MWh'
		    }
		  },
		  {
		    name: 'CARBON_NACIONAL',
		    type: 'column',
		    data: $scope.CARBON_NACIONAL.Volumen,
		    tooltip: {
		      valueSuffix: ' MWh'
		    }
		  },
		  {
		    name: 'CARBON_IMPORTACION',
		    type: 'column',
		    data: $scope.CARBON_IMPORTACION.Volumen,
		    tooltip: {
		      valueSuffix: ' MWh'
		    }
		  },
		  {
		    name: 'CICLO_COMBINADO',
		    type: 'column',
		    data: $scope.CICLO_COMBINADO.Volumen,
		    tooltip: {
		      valueSuffix: ' MWh'
		    }
		  },
		  {
		    name: 'REGIMEN_ESPECIAL_A_MERCADO',
		    type: 'column',
		    data: $scope.REGIMEN_ESPECIAL_A_MERCADO.Volumen,
		    tooltip: {
		      valueSuffix: ' MWh'
		    }
		  },
		  {
		    name: 'TOTAL_REGIMEN_ORDINARIO_CON_PRIMA',
		    type: 'column',
		    data: $scope.TOTAL_REGIMEN_ORDINARIO_CON_PRIMA.Volumen,
		    tooltip: {
		      valueSuffix: ' MWh'
		    }
		  },
		  {
		    name: 'Precio',
		    type: 'spline',
		    yAxis: 1,
		    data: $scope.Precios,
		    tooltip: {
		      valueSuffix: ' €/MWh'
		    }
		  }]
		});
	      });
	    }).
	    error(function(data, status, headers, config) {
	      // called asynchronously if an error occurs
	      // or server returns response with an error status.
	    });
	  };
	  $scope.generateplot();
	}
      );
    </script>
    <script src="../app_menu/js/classie.js"></script>
    <script src="../app_menu/js/main.js"></script>
  </body>
</html>
